.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.container{
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer {
  margin-top: 720px;
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
